div[dnddropzone] {
  &:hover {
    &.innerDropzone {background-color: #d4efe7 !important;}
  }
  &.dndDragover {background-color: #775577 !important;}
  &.innerDropzone {background: #ffffff; border-radius: 5px; border: 1px dotted #eaeaea; min-height:50px;}
}

.hoverOverlay {display:none; position: absolute; left:0; top:0; width:100%; height:100%; text-align: center; vertical-align: middle; background-color: #02020238;}

.initialDropzone {background: #ebf3e2;border-radius: 5px; border:1px dashed #cddc39; min-height:50px; padding:1px; position: relative;
  &:hover {
    .hoverOverlay {display: flex; flex-direction: column; align-items: center; justify-content: center;}
  }
}
.dragItem {border-radius: 5px; border:0px dashed #d2d2d2; min-height:50px; padding:1px; margin: 0px;

}
.dragIconHolder {background-color: #555555; color: #ffffff; border-top-right-radius: 4px; border-top-left-radius: 4px;
  i {color: #ffffff; padding:10px; cursor:pointer;
    &:hover {font-weight: bold;}
  }
}
.wrapper {background-color: lavender; border-radius:4px;}
.invisbleScroll {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar { width: 0 !important }
}

.dragDropToolPanelHeader {background: #eaeaea; width:250px;}
// .dragDropToolPanel {position: fixed; display: flex; left:0; top: 100px; width: 30px; min-height:300px;  margin-left: - 180px; transition:0.5s;
  .dragDropToolPanel {position: fixed; display: flex; left:0; top: 100px; width: 30px; min-height:300px;
    transition:0.5s;

    &.showToolPanel {display:block; display: flex; width: 260px; margin-left:0;}
    .dragItem .dragItem {margin-bottom:7px; border: 2px solid #829a66;  background: #eeeeee;}
    img.dragImg {width:190px; max-height:70px;}
    .toggleBtn {display: flex; flex-direction: column; justify-content: center;
      > div { background: white; border-radius: 50px;;width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; margin-left: -20px; transition: 1s; position: relative;
        &:hover {width: 100px;
            // margin-right: -50px;
        }
        i {font-size: 22px; position: absolute; right:14px;}
      }

    }
  }


.trashCan {border: 1px solid #555555; background: #ebf3e2; padding: 20px; position: fixed; right: 15px; top: calc(50% - 170px); width: 135px; height: 135px; border-radius: 5px;
  i {font-size:50px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); color:#848e7a; transition:0.2s;-webkit-transition: 0.2s;
    // &:hover {font-size: 55px;}
  }
  &.dndDragover {border-color: #775577;
    i {font-size: 50px; color:#ffffff;}
  }
}
