$appBackground: #e2c9d1;
$appBackground: #694d56;
$appDefault: #C0BAD5;
$appPrimary: #555555;
$appInfo: #607D8B;
$appSuccess: #DAEDEF;
$appWarning: #C4B997;
$appDanger: #78895A;


$primaryColor: #0156A0; //Blue
$secondaryColor: #02A7AB; //Aqua
$tertiaryColor: #666666; //Grey

$appWhite: #ffffff;
$appBlack: #292929;
$appDkGrey: #333333;
