.accordion {list-style-type: none; margin:0 0 10px 0;
  .accordionHeader {padding: 7px; background-color: $appPrimary; color:$appWhite;}
  .accordionBody {padding:7px; background-color: $appSuccess;}
}
