<nav class="navbar navbar-expand-md fixed-top">
  <a class="navbar-brand" href="#">Angular 7</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/demoList">Demos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/complexObject">Complex Object</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dragDrop">Drag N Drop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/memberbossAddons">Memberboss Addons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/carousel">Carousel</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
